@font-face {
  font-family: "GarageGothic";
  src: url('/fonts/GarageGothic-Bold.otf') format('opentype'), url('/fonts/GarageGothic-Bold.eot') format('embedded-opentype'), url('/fonts/GarageGothic-Bold.ttf') format('truetype'), url('/fonts/GarageGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Signa";
  src: url('/fonts/SignaColumnLight.otf') format('opentype'), url('/fonts/SignaColumnLight.eot') format('embedded-opentype'), url('/fonts/SignaColumnLight.ttf') format('truetype'), url('/fonts/SignaColumnLight.woff') format('woff'), url('/fonts/SignaColumnLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Signa";
  src: url('/fonts/SignaColumnBold.otf') format('opentype'), url('/fonts/SignaColumnBold.eot') format('embedded-opentype'), url('/fonts/SignaColumnBold.ttf') format('truetype'), url('/fonts/SignaColumnBold.woff') format('woff'), url('/fonts/SignaColumnBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* line 1, ../sass/1-Base/_base.scss */
#datatable {
  position: absolute;
  height: 0;
  width: 0;
  display: block;
  overflow: hidden;
}

/* line 9, ../sass/1-Base/_base.scss */
a[data-page] {
  cursor: pointer;
}

/* line 13, ../sass/1-Base/_base.scss */
.styckyWrapper {
  position: relative;
  padding-top: 100px;
  display: none;
}

/* line 18, ../sass/1-Base/_base.scss */
.stickyNav {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}
/* line 22, ../sass/1-Base/_base.scss */
.stickyNav.sticky {
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 100%;
}
/* line 27, ../sass/1-Base/_base.scss */
.stickyNav li {
  display: inline-block;
  padding: 10px;
}
/* line 31, ../sass/1-Base/_base.scss */
.stickyNav li.selected {
  background: gray;
}
/* line 33, ../sass/1-Base/_base.scss */
.stickyNav li.selected a {
  color: white;
}
/* line 35, ../sass/1-Base/_base.scss */
.stickyNav li.tabSelector {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/1-Base/_base.scss */
.stickyNav a {
  color: black;
}

/* line 43, ../sass/1-Base/_base.scss */
.stickyElm {
  height: 300px;
  border: 1px solid red;
}
/* line 47, ../sass/1-Base/_base.scss */
.stickyElm.active {
  background: gray;
}

/* line 52, ../sass/1-Base/_base.scss */
.hideIfEmpty:empty {
  display: none;
}

/* line 2, ../sass/2-Modules/_main-menu.scss */
#main-menu * {
  z-index: 999;
}

/* line 7, ../sass/2-Modules/_main-menu.scss */
#main-menu {
  margin: 0 15px 10px;
  min-height: 50px;
}
@media (min-width: 768px) {
  /* line 7, ../sass/2-Modules/_main-menu.scss */
  #main-menu {
    margin: 0 0 15px;
  }
}
/* line 14, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown] {
  position: static;
}
/* line 16, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown] a {
  text-decoration: none;
}
/* line 18, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown] a:hover {
  text-decoration: none;
}
/* line 22, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown] ul {
  position: relative;
  display: none;
  right: 0;
  left: 0;
  padding: 0;
  background: #ededed;
}
/* line 29, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown] ul:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  /* line 22, ../sass/2-Modules/_main-menu.scss */
  #main-menu ul li[data-dropdown] ul {
    position: absolute;
    padding: 0 10px;
  }
}
/* line 39, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown] li {
  list-style-type: none;
}
/* line 41, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown] li a {
  display: block;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 39, ../sass/2-Modules/_main-menu.scss */
  #main-menu ul li[data-dropdown] li {
    float: left;
  }
}
/* line 51, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown]:hover > ul {
  display: block !important;
  z-index: 9999;
}
/* line 59, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown].onPage > ul,
#main-menu ul li[data-dropdown] .onPage > ul {
  display: block;
}
/* line 62, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li[data-dropdown].onPage > a,
#main-menu ul li[data-dropdown] .onPage > a {
  color: #2980b9;
}
/* line 67, ../sass/2-Modules/_main-menu.scss */
#main-menu ul li a {
  color: #000;
}
/* line 70, ../sass/2-Modules/_main-menu.scss */
#main-menu ul a:hover {
  color: #3498db !important;
}
/* line 74, ../sass/2-Modules/_main-menu.scss */
#main-menu ul[role="navigation"] {
  text-align: center;
}

/* line 1, ../sass/2-Modules/_product-info.scss */
.product-info {
  padding-bottom: 20px;
  padding-left: 6px;
  padding-right: 6px;
}
/* line 6, ../sass/2-Modules/_product-info.scss */
.product-info li {
  list-style-type: none;
}
/* line 10, ../sass/2-Modules/_product-info.scss */
.product-info h1 {
  margin-top: 0;
}
/* line 13, ../sass/2-Modules/_product-info.scss */
.product-info [data-dynamic="teaser"] {
  color: #666;
  font-size: 14px;
}
/* line 17, ../sass/2-Modules/_product-info.scss */
.product-info .print-out {
  color: orange;
  margin-bottom: 0;
  margin-top: 30px;
  text-decoration: underline;
}
/* line 23, ../sass/2-Modules/_product-info.scss */
.product-info ul {
  margin: 20px 0;
  padding: 0;
}
/* line 27, ../sass/2-Modules/_product-info.scss */
.product-info ul li small:first-child {
  min-width: 90px;
  display: inline-block;
}
/* line 33, ../sass/2-Modules/_product-info.scss */
.product-info hr {
  margin: 20px 0;
}
/* line 36, ../sass/2-Modules/_product-info.scss */
.product-info .breadcrumb {
  margin: 0;
}
/* line 39, ../sass/2-Modules/_product-info.scss */
.product-info big {
  margin: 10px 0;
  display: inline-block;
  background: #ededed;
  padding: 8px 20px;
}
/* line 45, ../sass/2-Modules/_product-info.scss */
.product-info [data-dynamic="price"] {
  margin: 5px 0;
  padding: 2px 20px;
  background: #ccc;
  color: #33;
}
/* line 51, ../sass/2-Modules/_product-info.scss */
.product-info .buy {
  margin: 20px 0;
}
/* line 52, ../sass/2-Modules/_product-info.scss */
.product-info .buy span {
  padding: 20px 70px !important;
  display: inline-block !important;
}

/* line 2, ../sass/2-Modules/_orders.scss */
.order-details .invoice-title h2, .order-details .invoice-title h3 {
  display: inline-block;
}
/* line 5, ../sass/2-Modules/_orders.scss */
.order-details .table > tbody > tr > .no-line {
  border-top: none;
}
/* line 8, ../sass/2-Modules/_orders.scss */
.order-details .table > thead > tr > .no-line {
  border-bottom: none;
}
/* line 11, ../sass/2-Modules/_orders.scss */
.order-details .table > tbody > tr > .thick-line {
  border-top: 2px solid;
}

/* line 16, ../sass/2-Modules/_orders.scss */
.card-checkout {
  margin-left: -15px;
  margin-right: -15px;
  /* CSS for Credit Card Payment form */
}
/* line 21, ../sass/2-Modules/_orders.scss */
.card-checkout .panel-title {
  display: inline;
  font-weight: bold;
}
/* line 25, ../sass/2-Modules/_orders.scss */
.card-checkout .checkbox.pull-right {
  margin: 0;
}
/* line 28, ../sass/2-Modules/_orders.scss */
.card-checkout .pl-ziro {
  padding-left: 0px;
}
/* line 31, ../sass/2-Modules/_orders.scss */
.card-checkout .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
/* line 36, ../sass/2-Modules/_orders.scss */
.card-checkout label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
/* line 42, ../sass/2-Modules/_orders.scss */
.card-checkout .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* line 3, ../sass/2-Modules/_productlist.scss */
.productlist h2 {
  font-size: 18px;
}
/* line 6, ../sass/2-Modules/_productlist.scss */
.productlist h3 {
  font-size: 14px;
}
