@charset "UTF-8";
@import "compass/css3";
@import "fonts";
@import "mixins";

data {
	position: absolute;
	visibility: hidden;
	height: 0;
	width: 0;
	opacity: 0;
}

a[data-page] {
	cursor: pointer;
}

nav#main-menu {
	z-index: 99;
}
#main-menu > ul > li[data-dropdown] {
	position: static;
	a {
	text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	ul {
		position: absolute;
		display: none;
		right: 0;
		left: 0;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	li {
		list-style-type: none;
		float: left;
		a {
			display: block;
			padding: 15px;
			color: #a7a7a7;
			&:hover {
				color: #333;
			}
		}
	}
	> ul {
		top: 50px;
		background: #ededed;
		> li[data-dropdown] {
			position: static;
			> ul {
				top: 50px;
				background: #555;
			}
			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
	&:hover {
		> ul {
			display: block;
		}
	}
}