<nav class="navbar navbar-default">
    <div class="container-fluid">
            <ul id="menu" role="navigation" class="nav navbar-nav">
           <script id="menuitem-template" type="text/x-handlebars-template">
                {{#each item}}
                    <li>
                      <a data-page="{{Id}}">{{{Name}}}</a>
                    </li>
                {{/each}}
            </script>
        </ul>
    </div>
   
    <script type="text/javascript">
         $('#menuTable').sheetrock({
            sql: 'select %Id%, %Name%',
            userCallback: function(){
                populateTemplate($('#menuTable'), $('#menuitem-template'), $('#menu'))
            }
        });

         $(document).on('click','a[data-page]', function(e){

            var pageId = $(e.target).data('page');
            var currentLocation = window.location;
            window.location.href = addParameter(currentLocation, 'page', pageId);

         });
       
    </script>
</nav>