<nav id="main-menu" class="nav navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul role="navigation" class="nav navbar-nav">



			<!--   <li><a href="#">Forside</a>
            </li>
            <li data-dropdown data-level="1" data-id="2"><a href="#">Butikker <span class="caret"></span></a>
                <ul>
                    <li><a href="#">Butik 1</a>
                    </li>
                    <li><a href="#">Butik 2</a>
                    </li>
                    <li><a href="#">Butik 3</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Om os</a>
            </li>
            <li><a href="#">Kontakt</a>
            </li>
            <li data-dropdown data-level="1" data-id="5"><a href="#">Fede Ting <span class="caret"></span> <span style="margin-left: 4px">(◕ヮ◕)</span></a>
                <ul>
                    <li><a href="#">Biler</a>
                    </li>
                    <li><a href="#">Både</a>
                    </li>
                    <li><a href="#">Bikes</a>
                    </li>
                    <li data-dropdown data-level="2" data-id="3"><a href="#">Rune <span class="caret"></span></a>
                        <ul>
                            <li><a href="#">much</a>
                            </li>
                            <li><a href="#">cola</a>
                            </li>
                            <li><a href="#">wow</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li> -->
		</ul>
	</div>
</nav>

<script type="text/javascript">
	var tableData = new Array();
	$(dataTable).sheetrock({
		sql: 'select %Id%, %Name%, %Parent%',
		labels: ['Id', 'Name', 'Parent'],
		rowHandler: function(row) {
			tableData.push(row.cells);
			console.log(row.cells);
		},
		userCallback: function () {
			mainMenu = $('nav#main-menu div >ul[role="navigation"]');

			for (var i = 0; i < tableData.length; i++) {
				var currentObject = tableData[i];
				if (currentObject.Name != (null || "")) {
					mainMenu.append('<li data-id="' + currentObject.Id + '"><a data-page="' + currentObject.Id + '">' + currentObject.Name + '</a></li>');
				}
			}
			for (var i = 0; i < tableData.length; i++) {
				var currentObject = tableData[i];
				if (currentObject.Name != (null || "")) {
					if (currentObject.Parent != (null || "")) {
						var parentElement = $('li[data-id="' + currentObject.Parent + '"]');
						if (parentElement.length) {
							if (!parentElement.data('dropdown')) {
								parentElement.attr('data-dropdown', true);
								parentElement.children('a:first').append(' <span class="caret"></span>');
								// parentElement.addClass  ('dropdown-toggle');
								parentElement.append('<ul data-id="' + currentObject.Parent + '"></ul>');
							}
							var elementList = $('li[data-id="' + currentObject.Parent + '"]>ul[data-id="' + currentObject.Parent + '"]');

							$('li[data-id="' + currentObject.Id + '"]').remove();
							elementList.append('<li data-id="' + currentObject.Id + '"><a data-page="' + currentObject.Id + '">' + currentObject.Name + '</a></li>');

						}
					}
				}
			}

		}
	});

	$(document).on('click', 'a[data-page]', function (e) {

		var pageId = $(e.target).data('page'),
			currentLocation = window.location,
			wWidth = $(window).width();

		if ($(e.target).next('ul').length && wWidth <= 768) {
			if ($(e.target).hasClass('clicked')) {
				window.location.href = addUrlParameter(currentLocation, 'page', pageId);
			} else {
				$('a[data-page]').removeClass('clicked');
				$(e.target).addClass('clicked')
			}
		} else {
			window.location.href = addUrlParameter(currentLocation, 'page', pageId);
		}
	});
</script>