<script id="product-highlights" type="text/x-handlebars-template">

    {{each item}}
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/{{{MAXSCALE}}}x{{{MINSCALE}}}" alt="">
            <div class="caption">
                <h3>{{{TITLe}}}</h3>
                <p>{{{INFO}}}</p>
                <p>
                    <a href="" class="btn btn-primary">Buy Now!</a>
                    <a href="?product={{{ID}}}" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
    {{/each}}

</script>
<script type="text/javascript">
    $('#hightlight-table').sheetrock({
        sql: 'select %ID%, %TITLE%, %MAXSCALE%, %MINSCALE%, %INFO%',
        userCallback: function () {
            PopulateTemplate($('#hightlight-table'), $('#product-highlights'), $('###'))
        }
    });
</script>