/* line 2, ../../sass/2-Modules/login.scss */
.login-module .panel-heading {
  padding: 5px 15px;
}
/* line 6, ../../sass/2-Modules/login.scss */
.login-module .panel-footer {
  padding: 1px 15px;
  color: #A0A0A0;
}
/* line 11, ../../sass/2-Modules/login.scss */
.login-module .profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
