#main-menu {
	margin-bottom: 20px;
	* {
		z-index: 999;
	}
}

#main-menu {
	margin: 0 15px 10px;
	min-height: 50px;
	@include breakpoint($tablet) {
		margin: 0 0 10px;
	}
	div > ul {
		margin: 0 auto;
		width: 100%;
		float: none !important;
		@include breakpoint($tablet) {
			width: 768px;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include breakpoint($desktop) {
			width: 970px;
		}
		@include breakpoint($lgDesktop) {
			width: 1170px;
		}
	}
	ul {
		width: 100%;
		li[data-dropdown] {
			position: static;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
			ul {
				position: relative;
				display: none;
				right: 0;
				left: 0;
				padding: 0;
				background: #ededed;
				&:after {
					content: "";
					display: table;
					clear: both;
				}
				@include breakpoint($tablet) {
					position: absolute;
					padding: 0 10px;
				}
			}
			li {
				list-style-type: none;
				a {
					display: block;
					padding: 15px;
					color: #a7a7a7;
					&:hover {
						color: #333;
					}
				}
				@include breakpoint($tablet) {
					float: left;
				}
			}
			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
	ul[role="navigation"] {
		text-align: center;
	}
}