#main-menu {
	* {
		z-index: 999;
	}
}

#main-menu {
	margin: 0 15px;
	min-height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	@include breakpoint($tablet) {
		margin: 0;
	}
	ul {
		li[data-dropdown] {
			position: static;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
			ul {
				position: relative;
				display: none;
				right: 0;
				left: 0;
				padding: 0;
				background: #ededed;
				&:after {
					content: "";
					display: table;
					clear: both;
				}
				@include breakpoint($tablet) {
					position: absolute;
					padding: 0 10px;
				}
			}
			li {
				list-style-type: none;
				a {
					display: block;
					padding: 15px;
					color: #333;
				}
				@include breakpoint($tablet) {
					float: left;
				}
			}
			&:hover,
			.onPage {
				> a {
					color: #3498db;
				}
				> ul {
					display: block;
				}
			}
		}
	}
	ul[role="navigation"] {
		text-align: center;
	}
	li:hover a {
		color: #3498db;
	}
}