#onemed-header {
    padding-top: 20px;
    padding-bottom: 20px;

    img[role="logo"]{
        margin-bottom: 40px;
        display: block;

        @include breakpoint($desktop) {
            margin-bottom: 0;
        }
    }

    input {
        margin-bottom: 40px;

        @include breakpoint($desktop) {
            margin-bottom: 0;
        }

        &[type="search"] {
            border: 1px solid #ccc;
            padding: 4px;
            min-width: 230px;
        }

        &[type="submit"] {
            position: relative;
            left: -5px;
            padding: 4px 6px;
            border: 1px solid #ccc;
            background: #fff;
            min-width: 60px;
            text-transform: uppercase;
        }
    }

}

.filter-lockup {
    padding-top: 8px;
    padding-bottom: 8px;

    p {
        display: inline-block;
        font-weight: 700;
        color: #333;
        margin-right: 20px;
    }

    select {
        display: inline-block;
        margin: 0;
        padding: 7px 6px;
        color: #666;
        border: 1px solid #666;
    }

    nav {
        float: right;
        ul {
            margin: 0;
        }
    }

    .custom-pagination {
        font-size: 0;
        padding: 0;

        li {
            padding: 7px 13px;
            border: 1px solid #333;
            display: inline-block;
            list-style-type: none;
            font-size: 14px;

            &:first-of-type {
                border-right: 0;
            }
            &:last-of-type {
                border-left: 0;
            }

            a {
                text-decoration: none;
            }

            span {
                color: #333;
            }
            &:first-of-type,
            &:last-of-type {
                cursor: pointer;

                &:hover {
                    background-color: #666;

                    span {
                        color: #fff;
                    }
                }
            }
        }

    }

}
