.product-info {
	padding-bottom: 20px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #ddd;

	li  {
		list-style-type: none;
	}

	h1 {
		margin-top: 0;
	}
	[data-dynamic="teaser"] {
		color: #666;
		font-size: 14px;
	}
	.print-out {
		color: orange;
		margin-bottom: 0;
		margin-top: 30px;
		text-decoration: underline;
	}
	ul {
		margin: 20px 0;
		padding: 0;
		li {
			small:first-child {
				min-width: 90px;
				display: inline-block;
			}
		}
	}
	hr {
		margin: 20px 0;
	}
	.breadcrumb {
		margin: 0;
	}
	big {
		margin: 10px 0 15px;
		display: inline-block;
		background: #ededed;
		padding: 8px 20px;

		p {
			background: #ccc;
			padding: 3px 6px;
			margin: 0;
		}
	}
	[data-dynamic="price"] {
		margin: 5px 0;
		padding: 2px 20px;
		background: #ccc;
		color: #33;
	}
	.buy {
		a {
			padding: 20px 70px !important;
		}
		margin: 20px 0;
	}
}

.btn {
	border-radius: 0 !important;
}
