.productlist {

	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 14px;
	}

}




[name="shoppingCart"] {
	margin-bottom: 30px;

	.panel-info {
		margin-bottom: 0;
		border-color: transparent;
		border-radius: 0;
	}

	.col-xs-1 {
		font-size: 12px
	}
}
