<div class="panel panel-default" title="{{Component}}

{{UserStoryForPresentation}}">
    <div class="panel-body">
       <iframe width="100%" height="200" frameborder="0" src="{{Image}}" allowfullscreen></iframe><br>
    </div>
</div>