<div class="confirm-order panel panel-default" title="{{Component}}

{{UserStoryForPresentation}}">
    <div class="information">
        {{#if RichContent}}
            {{{RichContent}}}
        {{/if}}
    </div>

    <div class="panel panel-info">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2">
                    <small style="color: #a7a7a7">Product</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Stock</small>
                </div>
                <div class="col-xs-2">
                    <small style="color: #a7a7a7">Product Name</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Amount</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Amount in Product</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Price</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Price/Stk</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Type</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Whole Price</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Ta bort</small>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <img class="img-responsive" src="http://placehold.it/150x100">
                    <small style="display: block; margin-top: 5px; color: #969696" class="text-center">Art nr:
                        <small style="color: #a7a7a7; font-size: 12px">262224</small>
                    </small>
                </div>
                <div class="col-xs-1">
                    <img src="http://www.onemed.se/Archive/Images/SWEDEN/Bestallningsvara.gif" alt="">
                </div>
                <div class="col-xs-2">
                    Tension-free Vaginal Tape TVT Abbrevo
                </div>
                <div class="col-xs-1">
                    <input style="width: 100%; display: inline-block" type="number" value="4">
                </div>
                <div class="col-xs-1">
                    1
                </div>
                <div class="col-xs-1">
                    8 904,46kr
                </div>
                <div class="col-xs-1">
                    8 904,46kr
                </div>
                <div class="col-xs-1">
                    fp
                </div>
                <div class="col-xs-1">
                    35 617,86kr
                </div>
                <div class="col-xs-1">
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Update</a>
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Remove</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-2">
                    <img class="img-responsive" src="http://placehold.it/150x100">
                    <small style="display: block; margin-top: 5px; color: #969696" class="text-center">Art nr:
                        <small style="color: #a7a7a7; font-size: 12px">262224</small>
                    </small>
                </div>
                <div class="col-xs-1">
                    <img src="http://www.onemed.se/Archive/Images/SWEDEN/Bestallningsvara.gif" alt="">
                </div>
                <div class="col-xs-2">
                    Klädhängare plast tvärslå och krokar 9-pack
                </div>
                <div class="col-xs-1">
                    <input style="width: 100%; display: inline-block" type="number" value="4">
                </div>
                <div class="col-xs-1">
                    9
                </div>
                <div class="col-xs-1">
                    182,55kr
                </div>
                <div class="col-xs-1">
                    20,28kr
                </div>
                <div class="col-xs-1">
                    fp
                </div>
                <div class="col-xs-1">
                    182,55kr
                </div>
                <div class="col-xs-1">
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Update</a>
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Remove</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-2">
                    <img class="img-responsive" src="http://placehold.it/150x100">
                    <small style="display: block; margin-top: 5px; color: #969696" class="text-center">Art nr:
                        <small style="color: #a7a7a7; font-size: 12px">262224</small>
                    </small>
                </div>
                <div class="col-xs-1">
                    <img src="http://www.onemed.se/Archive/Images/SWEDEN/Bestallningsvara.gif" alt="">
                </div>
                <div class="col-xs-2">
                    Klädhängare plast tvärslå och krokar 9-pack
                </div>
                <div class="col-xs-1">
                    <input style="width: 100%; display: inline-block" type="number" value="4">
                </div>
                <div class="col-xs-1">
                    9
                </div>
                <div class="col-xs-1">
                    182,55kr
                </div>
                <div class="col-xs-1">
                    20,28kr
                </div>
                <div class="col-xs-1">
                    fp
                </div>
                <div class="col-xs-1">
                    182,55kr
                </div>
                <div class="col-xs-1">
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Update</a>
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Remove</a>
                </div>
            </div>

        </div>
        <hr>
    </div>

    <div class="confirm-order-form">

        <p>Godsmärkning: Fältet får ej innehålla specialtecken som t.ex. $, §, %.
            <br> (T.ex. Beställarens namn, rumsnummer, klass eller avdelning. OBS! För leveransanvisningar till transportör eller byte av leveransadress, portkod mm, kontakta kundservice)
            <br> Kund definerad ordernr: Du har inga produkter i kundvagnen Välj leveransdatum
            < Ange leveransdatum Skicka orderbekräftelse via e-post</p>

                <textarea class="comment" placeholder="Kommentar til forsendelse"></textarea>

                <br>

                <div>
                    <span>Kunde definerad ordenr</span>
                    <input type="text">
                </div>

                <div>
                    <span>Välj leveransdatum</span>
                    <input type="date">
                </div>

                <div>
                    <span>Email Address</span>
                    <input type="text"> - Type Email Address to get order confirmation on mail
                </div>

    </div>

    <a href="?page=34&client=onemed" class="btn big-btn btn-primary">Gennemför Køb</a>

</div>
