<div class="panel panel-default" title="{{Component}}">
    <div class="panel-body" style="column-count: 3;-webkit-column-count: 3;column-gap: 40px;-webkit-column-gap: 40px;">
        {{#if RichContent}}
            {{{RichContent}}}
        {{/if}}
    </div>
</div>