<div class="panel panel-default" title="{{Component}}

{{UserStoryForPresentation}}">

    <div class="filter-lockup">
        <div class="container">
            <div class="row">

        <div class="col-md-4">
            <p>561 Produkter</p>

            <select>
                <option>Choose Category</option>
                <option>Subcategory 1</option>
                <option>Subcategory 2</option>
            </select>

        </div>


        <div class="col-md-2">

            <select>
                <option>Sort by</option>
                <option>Newest</option>
                <option>Items on sale</option>
                <option>Price low to high</option>
                <option>Price high to low</option>
                <option>Bestesellers</option>
            </select>
        </div>

        <div class="col-md-2 col-md-offset-1">

            <select>
                <option>Filter by</option>
                <option>Part of contract</option>
                <option>Complementary</option>
                <option>All products</option>
            </select>
        </div>

            <div class="col-md-3">

                <ul class="custom-pagination">
                    <li>
                        <a href="#"><span>&laquo;</span></a>
                    </li>

                    <li>
                        <span>1/9</span>
                    </li>

                    <li>
                        <a href="#" aria-label="Next"><span>&raquo;</span><a>
                    </li>
                </ul>

    </div>


    </div>
        </div>
    </div>


</div>
