<div class="panel panel-default" title="{{Component}}

{{UserStoryForPresentation}}">

    <div class="filter-lockup">
        <div class="container">
            <div class="row">

        <div class="col-md-4">
            <p>561 Produkter</p>

            <select>
                <option>Choose Category</option>
                <option>Subcategory 1</option>
                <option>Subcategory 2</option>
            </select>

        </div>


        <div class="col-md-3">

            <select>
                <option>Sort by</option>
                <option>Newest</option>
                <option>Items on sale</option>
                <option>Price low to high</option>
                <option>Price high to low</option>
                <option>Bestesellers</option>
            </select>
        </div>

        <div class="col-md-3">

            <select>
                <option>Filter by</option>
                <option>Part of contract</option>
                <option>Complementary</option>
                <option>All products</option>
            </select>
        </div>

            <div class="col-md-2">

            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
        </nav>

    </div>


    </div>
        </div>
    </div>


</div>
