<div class="panel panel-default" data-dynamic="component">
    <div class="panel-body">
        <h2 class="hideIfEmpty">{{{HeadingTwo}}}</h2>
        <div data-dynamic="richcontent" class="hideIfEmpty"></div>
        <a class="btn btn-default hideIfEmpty" data-dynamic="button" role="button"></a><br>
        <a class="hideIfEmpty" data-dynamic role="button"></a>
    </div>
</div>