<div class="panel panel-default">
    <div class="panel-body">
        <h2 class="hideIfEmpty">{{{HeadingTwo}}}</h2>
        <div class="hideIfEmpty">{{{RichContent}}}</div>
        <a class="btn btn-default hideIfEmpty" data-dynamic="button" role="button"></a><br>
        <a class="hideIfEmpty" data-page="{{LinkUrl}}" role="button"></a>
    </div>
</div>