<div class="order-details" title="{{Component}}



{{UserStoryForPresentation}}">
    <div class="panel panel-default">
        <div class="row" style="padding-left: 15px; padding-right: 15px">
            <div class="col-xs-12">

                <div class="invoice-title">
                    <h2>Invoice</h2>
                    <h3 class="pull-right">Order #W1649697</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Customer Details</strong>
                            <!-- <details open></details> -->
                            <p>
                                <strong>The Client:</strong> John Smith
                            </p>

                            <p>
                                <strong>Customer No:</strong> 204046 (Kundservice E-butik)
                            </p>

                            <p>
                                <strong>Company:</strong> Kundservice E-butik Används av kundservice Dockplatsen 1, 6v 211 19 MALMÖ
                            </p>

                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Order Details:</strong>
                            <p>
                                <strong>Your Order:</strong> W1649697
                            </p>

                            <p>
                                <strong>Order Date:</strong> 2015-05-19 22:38
                            </p>

                            <p>
                                <strong>Goods Marking:</strong> m.
                            </p>

                            <p>
                                <strong>Shipping Date:</strong> 2015-06-05
                            </p>

                            <p>
                                <strong>Shipping Address:</strong> Används av kundservice Dockplatsen 1, 6v 211 19 MALMÖ
                            </p>

                        </address>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>Order summary</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td>
                                        <strong>Art nr.</strong>
                                    </td>
                                    <td>
                                        <strong>Product Name</strong>
                                    </td>
                                    <td class="text-right">
                                        <strong>Amount</strong>
                                    </td>
                                    <td class="text-right">
                                        <strong>Price</strong>
                                    </td>
                                    <td class="text-right">
                                        <strong>Sum</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td>262224</td>
                                    <td>Tension-free Vaginal Tape TVT Abbrevo</td>
                                    <td class="text-right">4</td>
                                    <td class="text-right">8 904,46kr</td>
                                    <td class="text-right">35 617,86kr</td>
                                </tr>
                                <tr>
                                    <td>62324</td>
                                    <td>Klädhängare plast tvärslå och krokar 9-pack</td>
                                    <td class="text-right">1</td>
                                    <td class="text-right">182,55kr</td>
                                    <td class="text-right">182,55kr</td>
                                </tr>
                                <tr>
                                    <td>315231</td>
                                    <td>Klädhängare plast tvärslå och krokar 9-pack</td>
                                    <td class="text-right">11</td>
                                    <td class="text-right">182,55kr</td>
                                    <td class="text-right">2002kr</td>
                                </tr>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center">
                                    </td>
                                    <td class="thick-line text-right"></td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center">
                                    </td>
                                    <td class="no-line text-right"></td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-right">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="no-line text-right">37 941,86kr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
