<div class="panel panel-info order-history" title="{{Component}}



{{UserStoryForPresentation}}">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h5>
                            <span class="glyphicon glyphicon-shopping-cart"></span> Order History</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <table>
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Order No
                        </th>
                        <th>
                            Own Order No
                        </th>
                        <th>
                            Person no
                        </th>
                        <th>
                            Customer no
                        </th>
                        <th>
                            Order by
                        </th>
                        <th>
                            Delivery Date
                        </th>
                        <th>
                            Sum
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            2015-04-14
                        </td>
                        <td>
                            W1622852
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            anno10a
                        </td>
                        <td>
                            Ann-Sofie Nordenhjälm
                        </td>
                        <td>
                            2015-04-16
                        </td>
                        <td>
                            765,57kr
                        </td>
                        <td>
                            Under Registration
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2015-04-09
                        </td>
                        <td>
                            W1619622
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            Additiontest
                        </td>
                        <td>
                            Addition Test
                        </td>
                        <td>
                            2015-04-14
                        </td>
                        <td>
                            119,25kr
                        </td>
                        <td>
                            Under Registration
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2015-03-05
                        </td>
                        <td>
                            W1594512
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            Additiontest
                        </td>
                        <td>
                            Addition Test
                        </td>
                        <td>
                            2015-04-02
                        </td>
                        <td>
                            8 400,00kr
                        </td>
                        <td>
                            Under Registration
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2015-01-26
                        </td>
                        <td>
                            W1563652
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            PELU01
                        </td>
                        <td>
                            Peter Lundqvist
                        </td>
                        <td>
                            2015-01-30
                        </td>
                        <td>
                            12,73kr
                        </td>
                        <td>
                            Under Registration
                        </td>
                    </tr>
                </tbody>
                <div>
                    <div class="filter-lockup">
                            <div class="row">

                                <div class="col-md-1" style="padding-top: 8px">
                                    4 Orders
                                </div>

                                <div class="col-md-3">
                                    <input type="search" placeholder="Order No">
                                </div>

                                <div class="col-md-3">
                                    Date from:
                                    <input type="date">
                                </div>


                                <div class="col-md-3">
                                    Date to:
                                    <input type="date">
                                </div>

                                <div class="col-md-2">
                                    <ul class="custom-pagination">
                                        <li>
                                            <a href="#">
                                                <span>&laquo;</span>
                                            </a>
                                        </li>

                                        <li>
                                            <span>1/9</span>
                                        </li>

                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span>&raquo;</span>
                                                <a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                    </div>
            </table>


            </div>
        </div>

    </div>
