<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{{HeadingThree}}}</h3>
    </div>
    <div class="panel-body">
        <div>{{{RichContent}}}</div>
        <a class="btn btn-default hideIfEmpty" data-dynamic="button" role="button"></a><br>
        <a class="hideIfEmpty" data-dynamic role="button"></a>
    </div>
</div>