<div class="panel panel-default" title="{{Component}}

{{UserStoryForPresentation}}">
	<div class="panel-body">
		<div class="page-header">
            {{#if HeadingOne}}
                <h2>{{HeadingOne}}</h2>
            {{/if}}
            <form>
              <div class="input-group">
             <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
            </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
		</div>
	</div>
</div>