<div name="shoppingCart" class="panel panel-info productlist" title="{{Component}}

{{UserStoryForPresentation}}">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h5>
                            <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Basket</h5>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2">
                    <small style="color: #a7a7a7">Product</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Stock</small>
                </div>
                <div class="col-xs-2">
                    <small style="color: #a7a7a7">Product Name</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Amount</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Amount in Product</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Price</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Price/Stk</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Type</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Whole Price</small>
                </div>
                <div class="col-xs-1">
                    <small style="color: #a7a7a7">Ta bort</small>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <img class="img-responsive" src="http://placehold.it/150x100">
                    <small style="display: block; margin-top: 5px; color: #969696" class="text-center">Art nr:
                        <small style="color: #a7a7a7; font-size: 12px">262224</small>
                    </small>
                </div>
                <div class="col-xs-1">
                    <img src="http://www.onemed.se/Archive/Images/SWEDEN/Bestallningsvara.gif" alt="">
                </div>
                <div class="col-xs-2">
                    Tension-free Vaginal Tape
TVT Abbrevo
                </div>
                <div class="col-xs-1">
                    <input style="width: 100%; display: inline-block" type="number" value="4">
                </div>
                <div class="col-xs-1">
                    1
                </div>
                <div class="col-xs-1">
                    8 904,46kr
                </div>
                <div class="col-xs-1">
                    8 904,46kr
                </div>
                <div class="col-xs-1">
                    fp
                </div>
                <div class="col-xs-1">
                    35 617,86kr
                </div>
                <div class="col-xs-1">
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Update</a>
                    <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Remove</a>
                </div>
            </div>
             <hr>
             <div class="row">
                 <div class="col-xs-2">
                     <img class="img-responsive" src="http://placehold.it/150x100">
                     <small style="display: block; margin-top: 5px; color: #969696" class="text-center">Art nr:
                         <small style="color: #a7a7a7; font-size: 12px">262224</small>
                     </small>
                 </div>
                 <div class="col-xs-1">
                     <img src="http://www.onemed.se/Archive/Images/SWEDEN/Bestallningsvara.gif" alt="">
                 </div>
                 <div class="col-xs-2">
                     Klädhängare plast tvärslå och krokar 9-pack
                 </div>
                 <div class="col-xs-1">
                     <input style="width: 100%; display: inline-block" type="number" value="1">
                 </div>
                 <div class="col-xs-1">
                     9
                 </div>
                 <div class="col-xs-1">
                     182,55kr
                 </div>
                 <div class="col-xs-1">
                     20,28kr
                 </div>
                 <div class="col-xs-1">
                     fp
                 </div>
                 <div class="col-xs-1">
                     182,55kr
                 </div>
                 <div class="col-xs-1">
                     <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Update</a>
                     <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Remove</a>
                 </div>
             </div>
             <hr>
             <div class="row">
                 <div class="col-xs-2">
                     <img class="img-responsive" src="http://placehold.it/150x100">
                     <small style="display: block; margin-top: 5px; color: #969696" class="text-center">Art nr:
                         <small style="color: #a7a7a7; font-size: 12px">262224</small>
                     </small>
                 </div>
                 <div class="col-xs-1">
                     <img src="http://www.onemed.se/Archive/Images/SWEDEN/Bestallningsvara.gif" alt="">
                 </div>
                 <div class="col-xs-2">
                     Klädhängare plast tvärslå och krokar 9-pack
                 </div>
                 <div class="col-xs-1">
                     <input style="width: 100%; display: inline-block" type="number" value="11">
                 </div>
                 <div class="col-xs-1">
                     9
                 </div>
                 <div class="col-xs-1">
                     182,55kr
                 </div>
                 <div class="col-xs-1">
                     20,28kr
                 </div>
                 <div class="col-xs-1">
                     fp
                 </div>
                 <div class="col-xs-1">
                     2002kr
                 </div>
                 <div class="col-xs-1">
                     <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Update</a>
                     <a type="button" style="width: 100%; padding-left: 3px; padding-right: 3px; border-radius: 0; font-size: 11px" class="btn btn-default">Remove</a>
                 </div>
             </div>

        </div>
        <hr>
    </div>
    <div class="panel-footer">
        <div class="row text-center">
            <div class="col-xs-9">
                <h4 class="text-right">Total
                    <strong>50,00kr</strong>
                </h4>
            </div>
            <div class="col-xs-3">
                <div class="glyphicon glyphicon-share-alt btn btn-primary btn-block">
                    <span style="font-family: verdana; padding-top: -5px"><a style="color: #fff" href='?page=17&client=onemed'>Checkout</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
