<div class="panel panel-default" data-dynamic="component">
    <div class="panel-body" data-dynamic="backgroundimage">
        <h2 class="hideIfEmpty">{{{HeadingTwo}}}</h2>
        <p class="hideIfEmpty">{{{RichContent}}}</p>
        <a class="btn btn-default hideIfEmpty" data-dynamic="button" role="button"></a><br>
        <a class="hideIfEmpty" data-dynamic role="button"></a>
    </div>
</div>