<div class="panel panel-default" title="{{Component}}">
	<div class="panel-body">
		<ul>
			<li>
				<strong><a href="#">Job 1</a></strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus erat pharetra feugiat sodales. Vivamus pharetra luctus sagittis. Duis et sollicitudin neque. Praesent ut tempor velit. Etiam nec rutrum elit.</p>
			</li>
			<li>
				<strong><a href="#">Job 2</a></strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus erat pharetra feugiat sodales. Vivamus pharetra luctus sagittis. Duis et sollicitudin neque. Praesent ut tempor velit. Etiam nec rutrum elit.</p>
			</li>
			<li>
				<strong><a href="#">Job 3</a></strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus erat pharetra feugiat sodales. Vivamus pharetra luctus sagittis. Duis et sollicitudin neque. Praesent ut tempor velit. Etiam nec rutrum elit.</p>
			</li>
			<li>
				<strong><a href="#">Job 4</a></strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus erat pharetra feugiat sodales. Vivamus pharetra luctus sagittis. Duis et sollicitudin neque. Praesent ut tempor velit. Etiam nec rutrum elit.</p>
			</li>
		</ul>

		<nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
	</div>
</div>