<!--
component name:			Content with tabs
Description: 			Lorem ipsum dolor
component type:			Editor managed component
filename:				content-with-tabs.html
querystring paremeters:	none
dependencies: 
	frameworks:			bootstrap
	pure javascript:	none
	pure css:			none

-->

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tab1</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tab2</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Tab3</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Tab4</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home" data-dynamic>...</div>
    <div role="tabpanel" class="tab-pane" id="profile" data-dynamic>...</div>
    <div role="tabpanel" class="tab-pane" id="messages" data-dynamic>...</div>
    <div role="tabpanel" class="tab-pane" id="settings" data-dynamic>...</div>
  </div>

</div>