<!--
component name:         Content component 
Description:            Used for headings
component type:         Editor managed component
filename:               heading.html
querystring paremeters: none
dependencies: 
		frameworks:         bootstrap
		pure javascript:    none
		pure css:           none

-->
<div class="panel panel-default panel-video" data-dynamic="component">
	<div class="panel-body">
		<div class="page-header">
			<h1 data-dynamic></h1>
			<img data-dynamic>
		</div>
	</div>
</div>

