<!--
component name:			Content component 
Description: 			Used for standard web page content
component type:			Editor managed component
filename:				spot-with-background-video.html
querystring paremeters:	none
dependencies: 
	frameworks:			bootstrap
	pure javascript:	none
	pure css:			none

-->

<style type="text/css">
	.panel-video {
		height: 240px;
		position: relative;
	}
	.panel-video iframe {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		height: 200px;
		width: 95%;
	}
</style>
<div class="panel panel-default panel-video">
	<div class="panel-body">
		<iframe width="560" height="315" data-dynamic="video" frameborder="0"></iframe>
	</div>
</div>