<!--
component name:			Content component 
Description: 			Used for standard web page content
component type:			Editor managed component
filename:				spot-with-inline-image.html
querystring paremeters:	none
dependencies: 
	frameworks:			bootstrap
	pure javascript:	none
	pure css:			none

-->

<div class="panel panel-default" data-dynamic="component">
	<div class="panel-body">
		<strong data-dynamic="h2"></strong><br>
		<div data-dynamic="richcontent"></div>
		<a class="btn btn-default hideIfEmpty" data-dynamic="button" role="button"></a><br>
		<a class="hideIfEmpty" data-dynamic role="button"></a>
	</div>
</div>