<!--
component name:			Content component 
Description: 			Used for standard web page content
component type:			Editor managed component
filename:				spot-with-background-image.html
querystring paremeters:	none
dependencies: 
	frameworks:			bootstrap
	pure javascript:	none
	pure css:			none

-->

<div class="panel panel-default">
	<div class="panel-body" data-dynamic="backgroundimage">
		<h2 data-dynamic></h2>
		<p data-dynamic="richcontent"></p>
		<a class="btn btn-default" data-dynamic role="button"></a>
	</div>
</div>