<!--
component name:			Content component 
Description: 			Used for standard web page content
component type:			Editor managed component
filename:				spot-with-inline-image.html
querystring paremeters:	none
dependencies: 
	frameworks:			bootstrap
	pure javascript:	none
	pure css:			none

-->

<div class="panel panel-default" data-dynamic="component">
	<div class="panel-body">
		<h2 data-dynamic class="hideIfEmpty"></h2>
		<div data-dynamic="richcontent" class="hideIfEmpty"></div>
		<iframe width="200" height="150" data-dynamic="video" frameborder="0" class="hideIfEmpty"></iframe><br>
		<a data-dynamic class="hideIfEmpty"></a>
	</div>
</div>